<nav class="nav-extended">
  <div class="nav-wrapper blue-grey lighten-2">
    <a href="#!" class="brand-logo">Welight demo!</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://www.welight.co">Welight</a></li>
      <li><a href="http://about.me/vlaux">@vlaux</a></li>
    </ul>
  </div>
  <div class="nav-content blue-grey lighten-3">
    <span class="nav-title">Top songs</span>
    <a href="/song" class="btn-floating btn-large halfway-fab waves-effect waves-light teal" title="Novo título">
      <i class="material-icons">add</i>
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
  
