<div *ngIf="song" class="container">
    <a href="/list">
        <i class="material-icons">keyboard_arrow_left</i>            
        <span>Voltar para a lista</span>            
    </a>

    <form (ngSubmit)="save()" #songForm="ngForm">
        <h3>Editar detalhes</h3>
        <div class="input-field">
            <input [(ngModel)]="song.rank" placeholder="Posição da música no ranking" name="rank" id="rank" type="number" required/>
            <label class="active" for="rank">Posição</label>
        </div>
        <div class="input-field">
            <input [(ngModel)]="song.song" placeholder="Digite o nome da música" name="name" id="name" type="text" required/>
            <label class="active" for="name">Nome</label>
        </div>
        <div class="input-field">
            <input [(ngModel)]="song.artist" placeholder="Digite o nome do artista" name="artist" id="artist" type="text" required/>
            <label class="active" for="artist">Artista</label>
        </div>

        <button class="btn waves-effect waves-light left" type="button" (click)="delete()" [disabled]="!song.id">
            <i class="material-icons left">delete</i>
            Excluir
        </button>  
        <button class="btn waves-effect waves-light right" type="submit" [disabled]="!songForm.form.valid">
            <i class="material-icons left">save</i>
            Salvar
        </button>
    </form>
</div>